*{
  margin: 0;
  padding: 0;
}
.game-over-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    text-align: center;
    font-family: 'Poppin', cursive;
  }

  h1{
    font-family: 'Poppin', cursive;
  }
  
  .flicker-button {
    background-color: black;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
    animation: flicker 1s infinite;
    font-size: 32;
  }
  .score{
    color: tomato;
    padding: 2%;
  }

  @keyframes flicker {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

